<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()" >

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   formControlName="name">

            @if (formUtils.isValidField(myForm, 'name')) {
              <span class="form-text text-danger">
                {{ formUtils.getFieldError(myForm, 'name') }}
              </span>
            }
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Agregar</label>
        <div class="col-sm-10">

            <div class="input-group">
                <input class="form-control me-2"
                       placeholder="Agregar favorito"
                       [formControl]="newFavorite"
                       (keydown.enter)="addFavorite($event)"
                       (keydown.enter)="$event.preventDefault()"
                       >
                       <!-- Forma en como se puede anular que se mande el submit del formulario, se ejecutan múltiples  -->
                       <!-- (keydown.enter)="$event.preventDefault()" -->

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="addFavorite($event)"
                        >
                    Agregar favorito
                </button>
            </div>
        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Favoritos</label>
        <div class="col-sm-10" formArrayName="favoriteGames" >

          @for (item of favoriteGames.controls; track item; let i = $index) {
            <div class="mb-1">

                <div class="input-group">
                    <input class="form-control me-2" [formControlName]="i">

                    <button class="btn btn-outline-danger"
                            type="button"
                            (click)="removeFavorite(i)" >
                      Eliminar
                  </button>
                </div>
                @if (formUtils.isValidFieldInArray(favoriteGames, i)) {
                  <span class="form-text text-danger">
                     {{ formUtils.getFieldErrorInArray(favoriteGames, i) }}
                  </span>

                }

            </div>

          }

          @if (formUtils.isValidField(myForm, 'favoriteGames')) {
            <span class="form-text text-danger">
              Debe contener al menos 3 juegos favoritos
            </span>

          }

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"

                    >

                Guardar
            </button>
        </div>
    </div>


</form>



<span>Valid</span>
<pre>{{ myForm.valid| json }}</pre>
<br>

<span>Value</span>
<pre>{{ myForm.value| json }}</pre>
<br>

<span>Agregar Juego</span>
<pre>{{ myForm.controls['favoriteGames'].errors | json }}</pre>
<pre>{{ myForm.controls['favoriteGames'].value | json }}</pre>
